.header {
  margin: 15px 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .logo {
  }
  .social {
    a {
      display: inline;
      margin-left: 15px;
      color: $default;
      text-decoration: none;
      font-size: 18px;
      transition: all ease-in-out 0.3s;
      opacity: 1;
      &:hover {
        opacity: 0.8;
      }
      svg {
        path {
          fill: $default;
        }
      }
    }
  }
}
